body{
   width:250px;
   height:200px;
}

.icon{
	width:30%;
	height:20%;
}

.iconfloat {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 2px transparent;
  transition: 0.1s;
  transition-timing-function: ease-out;
}

.iconfloat:hover, .iconfloat:focus, .iconfloat:active {
  transform: translateY(-3px);
}