<html> 
<head></head>
<style>
.box:hover {
border:2px solid yellow;
}
</style>

<frameset cols="50%,50%">
	<frameset rows="50%,50%">
		<frame class="box" id="second" src="../mainframe.html"></frame>
		<frame class="box" id="first" src="../mainframe.html"></frame>
	</frameset>
	<frameset rows="50%,50%">
		<frame class="box" id="fourth" src="../mainframe.html"></frame>
		<frame class="box" id="third" src="../mainframe.html"></frame>
	</frameset>
</frameset>
<script type="text/javascript" src="../js/content.js"></script>

</html>